/* Estilo para el fondo de pantalla completa */
.full-screen-bg {
    background-image: url('components/images/almacen.png');/* Asegúrate de que esta ruta sea correcta */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Asegura que el texto sea legible sobre el fondo */
  }
  
  /* Estilo para las tarjetas */
  .card {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
  }
  